<div class="basic">
  <div class="basic-content">
    <div class="photo-wrapper">
      <img src="assets/image/myphoto.jpg" alt="author-photo">
    </div>
    <div class="intro-text">
      <div class="intro-text-content">
        <p>嗨！ 我是玉芳<br>
        <p>前端工程師<br><br>
        目前專注於Angular.js技術應用，喜歡乾淨簡潔的程式碼，注重使用者體驗與視覺美感，具備大型專案開發經驗。<br></p>
      </div>
      <div class="contact-link">
        <a class="a-link" href="https://github.com/yufang0321"><i class="fab fa-github"></i></a>
        <a class="a-link" href="mailto:claire10581@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="experience" id="experience">
  <div class="title">EXPERIENCE</div>
  <div class="content">
    <app-time-line [experiences]="myExperiences"></app-time-line>
  </div>
</div>
<div class="skills" id="skills">
  <div class="title">SKILLS</div>
  <div class="content">
    <app-skill [skillGroups]="mySkillGroups"></app-skill>
  </div>
</div>
<!-- <div class="contact" id="contact">
  <div class="title">CONTACT</div>
  <div class="content">
      <a class="a-link" href="https://github.com/yufang0321"><i class="fab fa-github"></i></a>
      <a class="a-link" href="mailto:claire10581@gmail.com"><i class="fa-solid fa-envelope"></i></a>
  </div>
</div> -->