<div class="hero">
  <div class=" flex-center">
      <img class="avatar" src="assets/avatar.png" alt="你的大頭照">
      <h1>嗨，我是xx</h1>
      <p class="subtitle">一位喜歡打造漂亮網站的前端開發者</p>
      <button mat-raised-button color="accent" routerLink="/projects">看看我的作品</button>
  </div>
  <div class="skill-block flex-center">
    <div class="flex-center">
      <span class="skills-title">我擅長的技術</span>
    </div>
    <div class="tags">
      <span class="tag">Angular</span>
      <span class="tag">TypeScript</span>
      <span class="tag">SCSS</span>
      <span class="tag">Spring Boot</span>
    </div>
  </div>
</div>
  