@use '../../../style/variables' as *;

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  background-color: $light-bg;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;

  .navbar-item {
    font-size: 1.875rem;
    padding: 7px 30px;
    color: $secondary-color;

    :hover {
      color: $accent-color;
    }

    a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      transition: color 0.3s;
    }
  }
}

.basic {
  width: 100%;

  .basic-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 500px;
    padding: 100px 200px;

    .photo-wrapper {
      flex: 0 0 auto;
      height: 100%;
      overflow: hidden;

      img {
        height: 100%;
        width: auto;
        object-fit: cover;
        display: block;
      }
    }

    .intro-text {
      flex: 1;
      padding: 50px;
      background-color: $primary-color;

      .intro-text-title {
        color: #c4cfd5;
        font-size: 2.5rem;
        font-family: 'fantasy';
      }

      .intro-text-content {
        color: #c4cfd5;
        font-family: 'Noto Sans TC';
        margin-top: 20px;
        font-size: 1.5625rem;
        line-height: 150%;
      }
    }
  }
}

.title {
  height: 20%;
  padding: 20px;
  font-size: 1.875rem;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  height: auto;
  padding: 50px 100px;
}

.experience,
.education,
.skills,
.blog,
.contact {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.experience,
.blog {
  background: $light-bg;
}

// -------------------------------
// ✅ RWD 區塊
// -------------------------------
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    height: auto;
    .navbar-item {
      font-size: 1.25rem;
      padding: 10px;
    }
  }

  .basic {
    .basic-content {
      flex-direction: column;
      padding: 50px 20px;
      height: auto;

      .photo-wrapper {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }

      .intro-text {
        padding: 30px;
        .intro-text-title {
          font-size: 2rem;
        }

        .intro-text-content {
          font-size: 1.25rem;
        }
      }
    }
  }

  .title {
    font-size: 1.5rem;
    padding: 10px;
  }

  .content {
    padding: 20px;
  }
}
