<div class="home-container">
  <div class="basic">
    <div class="basic-content">
      <div class="photo-wrapper">
        <img src="assets/image/myphoto.jpg" alt="author-photo">
      </div>
      <div class="intro-content">
        <div class="intro-text-content">
          <div class="introduce">
            <div>
              <div class="welcome">歡迎來到Fang's Web！</div>
              <div class="introduce-title">關於本站</div>
              <div class="introduce-content">建立本站目的為記錄自己開發時所遇到的各種疑難雜症，希望透過經驗的累積與紀錄，一步步的精進實力。</div>
              <div class="introduce-title">近期動態</div>
              <div class="introduce-content">
                <ul>
                  <li>專案 - 使用Angular框架建立個人部落格(建立中)</li>
                  <li>新文章：如何使用 Angular + DevExtreme的dx-list + Rxjs製作無限滾動功能(建立中)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>