@use '../../../style/variables' as *;


.navbar-container {
  background-color: $primary-color;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;

  .navbar-item {
    font-size: 1.875rem;
    padding: 7px 30px;
    color: $text-light;

    :hover {
      color: $accent-color;
    }

    a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      transition: color 0.3s;
    }
  }
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    height: auto;
    .navbar-item {
      font-size: 1.25rem;
      padding: 10px;
    }
  }
}
